
*{
    box-sizing:border-box;
    padding: 0%;
    margin: 0%;
}


#sidebar__Main{
    background-color: #C15050 ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #D49D42;
    border-width: 5px;
    border-left: 0px;
    padding-right: 0px;
    
}


#sidebar__Main__items{
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar__Main__items:hover {
    background-color: #D49D42;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-right: 0px;
}

#sidebar__Main__items a{
    color:black;
}

#sidebar__Main__items a:hover {
    background-color: white;
    padding-right: 0px;
    border-radius: 10px;
    color:#693C72;
}

#sidebar__Main__items a:active {
    background-color: white;
    padding-right: 0px;
    border-radius: 10px;
    color:#693C72;
}


/*--------------------------------------------------------------------------------------------------------*/
/* ENVIOS */

#aside__Main{
    background: #D49D42;
    float: left;
    width: 15%;
    height: 100%
    
}

#article__Main{
    background: #693C72;
    float: right;
    width: 85%;
    margin: 0px;
    padding:0px;
}
